<div class="event-card">
    <h4 class="text-center">{{event.name}}</h4>
    <div class="row justify-content-between">
        <div class="col-sm-4 text-center">
            <span class="mini-header">Frequency</span>
        </div>
        <div class="col-sm-4 text-center">
            <span class="mini-header">Point</span>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-sm-4 text-center">
            <span>{{getFrequencyName(event.frequency)}}</span>
        </div>
        <div class="col-sm-4 text-center">
            <span>{{event.totalPoint}}</span>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-sm-5 text-center">
            <span class="mini-header">Remaining Time</span>
        </div>
        <div class="col-sm-4 text-center">
            <span class="mini-header">Execution</span>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-sm-5 text-center">
            <span [innerText]="remainingTime"></span>
        </div>
        <div class="col-sm-4 text-center">
            <span>{{event.currentRepeatExecutionCount + ' / ' + event.repeatTimeInFrequency}}</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-danger mt-3">Execute</button>
        </div>
        <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-warning mt-3" (click)="updateClick()">Update</button>
        </div>
        <div class="col-sm-3 text-center">
            <button type="button" class="btn btn-dark mt-3">Delete</button>
        </div>
    </div>
</div>